@model NoteLog.Models.Notes

@{

}

<form>
    <div class="row mb-2">
        <div class="col-6">
            <input id="txtTitleNoteEdit" type="text" class="form-control" placeholder="Titulo" value="@Html.DisplayTextFor(model => model.Title)" autocomplete="off" />
        </div>
        <div class="col-6">
            <input id="txtSubjectNoteEdit" type="text" class="form-control" placeholder="Tema" value="@Html.DisplayTextFor(model => model.Subject)" autocomplete="off" />
        </div>
    </div>
    
    <textarea id="txtBodyNoteEdit" class="form-control" rows="30" style="max-height: 100%">@Html.DisplayTextFor(model => model.Body)</textarea>
    
    <div class="row my-2">
        <div class="col text-center">
            <a role="button" id="btnSaveNoteEdit" data-id="@Html.DisplayTextFor(model => model.Id)" data-date="@Html.DisplayTextFor(model => model.CreatedDate)"
                    class="btn btn-success" href="#"><i class="far fa-save"></i>&nbsp; Guardar</a>
        </div>
    </div>
</form>